*{
    margin: 0;
    padding: 0;
}

.main_div{
    background-color: rgb(27, 27, 101);
    color: white;
    height: 56px;
}
.head_nav{
    display: flex;
    flex-direction: row;
}

.right_nav{
    display: flex;
    flex-direction: row;
}