*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-image: url('../images/login_page/login_background.jpg');
    background-size: cover;
    background-position: center;
    color: #333;
}