*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Arial', sans-serif;
    background-image: url('../images/login_page/login-background-image.png');
    background-size: cover;
    background-position: center;
    color: #333;
}

.login-wrapper{
    width: 380px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: #b0b0b0dd 1px solid;
}

input{
    width: 85%;
    height: 35px;
}

label{
    align-items: start;
}
button{
    width: 90%;
    height: 35px;
    background-color: #0078DB;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}
